div(class="flex flex-col flex-1")
  h1(class="title") Database
  div(class="code")
    div(class="c") // Show all databases on MySQL server.
    span(class="k") SHOW DATABASES;
    
    div(class="code")
      div(class="c") // Create new database.
      span(class="k") CREATE DATABASE 
      span(class="i") database_name;
      
    div(class="code")
      div(class="c") // Use database. (Select)
      span(class="k") USE 
      span(class="i") database_name;
      
    div(class="code")
      div(class="c") // Drop database. (Destroy database.)
      span(class="k") DROP DATABASE 
      span(class="i") database_name;
      
  
    
  
