div(class="flex flex-col flex-1")
  h1(id="operators" class="title") Operators and Comparison Functions
  
  div(class="t") =
    | 
    span(class="c") // Equals. 1 = 1 -> true
    
  div(class="t") >
    | 
    span(class="c") // Greater. 5 > 10 -> false
    
  div(class="t") >=
    | 
    span(class="c") // Greater or equals. 7 >= 7 -> true
    
  div(class="t") <
    | 
    span(class="c") // Less. 1 < 2 -> true 
    
  div(class="t") <=
    | 
    span(class="c") // Less or equal. 8 <= 9 -> false 

  div(class="t") !=
    | 
    span(class="c") // Not equal. 2 != 3 -> true 
    
  div(class="t") <>
    | 
    span(class="c") // Not equal. 7 <> 7 -> false 
        
  div(class="t") <=> 
    | 
    span(class="c") // Null safe equal. null <=> 2 -> false

  div(class="t") IS NULL
    
  div(class="t") IS NOT NULL
    
